html
body
  width 100%
  height 100%
  background-color lighten(#DDD, 80%)
  background-color lighten(#9E1B3A, 80%)
  background-color lighten(#564bff, 90%)

html
body
form
  margin 0px
  padding 0px

div
  cursor default

.component-list
  display grid
  height auto
  width 100%
  grid-gap 10em
  margin 5em 0em

.component-container
  padding 20px
  width 800px
  align-self center
  justify-self center
  display grid

  & > *
    align-self center
    justify-self center

// utilities
.padding
  padding 1rem

  &--small
    padding .5rem

.grid
  display grid

// component
$white = rgba(255, 255, 255, .9)
$black = #000

$palettes =\
  #000 #FFF #DDD,
  purple lightblue #DDD,
  #9E1B3A #6F0A2B #A0847D #6E3455 #D2D0D5,
  #6F0A2B darken(#6F0A2B, 50%) #564bff lighten(lightblue, 10%) darken(lightblue, 35%),
  #9E1B3A darken(#9E1B3A, 50%) #564bff lighten(lightblue, 10%) darken(lightblue, 35%)

$palette = $palettes[4]

$primary = $palette[0]
$secondary = $palette[1]
$tertiary-1 = $palette[2]
$tertiary-2 = $palette[3]
$tertiary-3 = $palette[4]
$border = #DDD
$box-shadow = 10px 10px 10px alpha($primary, .4)
$box-shadow-2 = 5px 5px 10px alpha($black, .7)

body
  font-family 'Arimo', sans-serif
  font-weight regular

button
  border 0
  background-color transparent

.timer
  &
  &--expanded
    display grid

  &__body
    color $white
    background-color $primary
    box-shadow $box-shadow
    text-shadow 2px 2px 2px $secondary

    & svg
      stroke @color

    &__body
      @extends .padding
      display grid
      grid-template-columns 1fr auto

  &__body
  &--expanded &__body
    width 500px

  &--expanded &__control
    align-self center
    justify-self center
    width 400px

  &__header
    padding .5rem 1rem
    // padding-bottom 1rem

  // https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
  &__duration
    margin 0
    width 100%

    &::-webkit-slider-thumb
      -webkit-appearance none

    &::-ms-track
      width 100%
      cursor pointer
      background transparent
      border-color transparent
      color transparent

  &__counter
    font-size 3em
    text-align center
    display grid
    grid-template-columns repeat(6, 1fr)

    &__digit
      font-family Yantramanav, sans-serif
      justify-self end

    &__label
      padding-left .5rem
      font-size 1.25rem
      justify-self start
      align-self center
      vertical-align middle

  &__toggle
    height 2.75rem
    width @height
    background-color $tertiary-1
    margin-top auto
    margin-bottom auto
    box-shadow $box-shadow-2
    justify-self center
    position relative
    bottom 4px
    overflow hidden

    & svg
      stroke $tertiary-2
      height 2.0rem
      width @width
      position absolute
      top 50%
      left 50%
      transform translateX(-45%) translateY(-50%)
      transform translateX(-50%) translateY(-50%)

  &__control
    background-color $tertiary-2
    display grid
    grid-template-columns 1fr 1fr 1fr
    box-shadow $box-shadow

    & span
      text-align center

    & button
      @extend .padding--small

    & svg
      stroke $tertiary-3

// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
$track-color = lighten($secondary, 5%);
$thumb-color = $tertiary-1;

$thumb-radius = 0px;
$thumb-height = 1rem;
$thumb-width = 1.5rem;
$thumb-shadow-size = 0px;
$thumb-shadow-blur = 0px;
$thumb-shadow-color = #111;
$thumb-border-width = 0px;
$thumb-border-color = white;

$track-width = 100%;
$track-height = 1rem;
$track-shadow-size = 0px;
$track-shadow-blur = 0px;
$track-shadow-color = #222;
$track-border-width = 0px;
$track-border-color = black;

$track-radius = 0px;
$contrast = 0%;

shadow($shadow-size,$shadow-blur,$shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size lighten($shadow-color,5%);
}

track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  animate: 0.2s;
}

thumb() {
  shadow($thumb-shadow-size,$thumb-shadow-blur,$thumb-shadow-color);
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: $thumb-height/2 0;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    track();
    shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }

  &::-webkit-slider-thumb {
    thumb();
    -webkit-appearance: none;
    margin-top: ((- $track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    track();
    shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
    background: $track-color;
    border-radius: $track-radius;
     border: $track-border-width solid $track-border-color;
  }
  &::-moz-range-thumb {
     thumb();
  }

  &::-ms-track {
    track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius*2;
    shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
  }
  &::-ms-fill-upper {
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius*2;
    shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color);
  }
  &::-ms-thumb {
    thumb();
  }
  &:focus::-ms-fill-lower {
    background: $track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}
